html
  head
    meta(charset="utf-8")
    script(src="/javascripts/jquery-3.1.1.min.js" charset="utf-8")
    script(src="/javascripts/ranking.js" charset="utf-8")
    title= title
    
    link(rel="stylesheet" href="/css/ranking.css")
    
  body
    div
      table.ranking
        tr
          th 順位
          th 名前
          th スコア
          th レベル
          th 最大HP
          th 攻撃力
          th 防御力
          
        - for (var i = 0; i < data.rows.length; i++)
          tr
            th=i+1
            th=data.rows[i].game_name
            th=data.rows[i].score
            th=data.rows[i].lv
            th=data.rows[i].maxhp
            th=data.rows[i].attack
            th=data.rows[i].defense
        
    a(href="/") 戻る
